:root   {
    --gruvbox-dark-bg: #282828;
    --gruvbox-dark-fg: #ebdbb2;
    --gruvbox-dark-red: #cc241d;
    --gruvbox-dark-green: #98971a;
    --gruvbox-dark-yellow: #d79921;
    --gruvbox-dark-blue: #458588;
    --gruvbox-dark-purple: #b16286;
    --gruvbox-dark-aqua: #689d6a;
    --gruvbox-dark-orange: #d65d0e;
    --gruvbox-dark-gray: #a89984;
  }

body   {
    background-color: var(--gruvbox-dark-gray);
    margin: 0;
    padding: 0;
    overflow:hidden;
}
img {
    width: 3rem;
}


.invisible    {
    visibility: hidden;
}